@import "./breakpoints", "./colors", "./about", "./fonts.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Plus Jakarta Sans;
  transition: all 0.5s;
  accent-color: #439299;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar-track {
  background-color: $dark_blue;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: $green_primary;
  border-radius: 2px;
}
.animate__delay {
  animation-delay: 0.5s;
}
button {
  &:hover {
    filter: opacity(0.8);
  }
}
body {
  overflow-x: hidden;
}
.navbar {
  background: white !important;
}
.fs-8 {
  font-size: 0.8rem;
  @include media("<=tablet") {
    font-size: 1rem;
  }
}
.active {
  position: relative;
  z-index: 2;
  &::after {
    content: " ";
    left: 0px;
    bottom: -2px;
    width: 100%;
    height: 310%;
    border-radius: 10px;
    background: $green_primary;
    z-index: -1;
    position: absolute;
  }
  @include media("<tablet") {
    display: none;
  }
}
.navbar-brand {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  &:hover {
    color: white !important;
  }
  @include media("<tablet") {
    font-size: 1rem;
  }
}
.navBtn {
  color: $text_primary;
  border-radius: 50px;
  &:hover {
    color: white;
    background-color: $text_primary;
  }
}
.nav_img {
  width: 6vw;
}
.nav-item {
  a {
    font-weight: bold;
    text-transform: uppercase;
  }
}
.header {
  aspect-ratio: 16/9;
  position: relative;
  @include media("<tablet") {
    aspect-ratio: initial;
    min-height: 60vh;
  }
  video {
    position: absolute;
    top: 0px;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
.swiper-slide {
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    @include media("<tablet") {
      font-size: 2rem;
    }
  }
}

.AboutMe {
  aspect-ratio: 19/9;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(./imgs/personImage.jpg);
  @include media("<tablet") {
    aspect-ratio: initial;
    min-height: 60vh;
  }
  .bluredBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    width: 33.33%;
    margin-right: 3rem;
    background: rgba(0, 0, 0, 0.53);
    backdrop-filter: blur(2px);
    height: 100%;
    float: right;
    text-align: start;
    @include media("<tablet") {
      width: 50%;
      justify-content: space-evenly;
      min-height: 60vh;
    }
    @include media("<phone") {
      text-align: center;
      width: 80%;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      font-size: 2rem;
      color: white;
      font-weight: bold;
    }
    p {
      color: white;
      font-size: 1.5rem;
      @include media("<tablet") {
        font-size: 1rem;
      }
    }
  }
}
.MyWork {
  text-align: center;
  padding: 5vh 0vw;
  h2 {
    color: white;
    font-size: 3rem;
    @include media("<phone") {
      font-size: 2rem;
    }
    font-weight: bolder;
  }
  p {
    color: white;
    font-size: 1rem;
  }
  .MyWorkSwiper {
    width: 100%;

    .swiper-slide-active {
      position: relative;

      &::after {
        content: " ";
        width: 30vw;
        height: 30vw;
        position: absolute;
        left: 0px;
        top: 0px;
        background: url("../imgs/MusicDisc.png") center/contain no-repeat;
        transition: left 0.5s;
        z-index: -1;
        filter: drop-shadow(0px 5px 5px #000000d0);
        @include media("<phone") {
          width: 50vw;
          height: 50vw;
        }
      }
    }

    .swiper-slide-active:hover::after {
      left: -13vw; /* Move the pseudo-element when the parent is hovered */
      @include media("<phone") {
        left: -20vw;
      }
    }
    .swiper-slide-active.rotate::after {
      animation: rotate 6s linear infinite;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(255, 255, 255);
      width: 30vw;
      height: 30vw;
      position: relative;
      border-radius: 5px;
      @include media("<phone") {
        width: 50vw;
        height: 50vw;
      }

      .bg {
        width: 30vw;
        height: 30vw;
        object-fit: cover;
        @include media("<phone") {
          width: 50vw;
          height: 50vw;
        }
      }

      .audio-player {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 0px;
        left: 0px;
      }

      .progress-bar {
        width: 30vw;
        height: 7px;
        background-color: #ffffffc5;
        overflow: hidden;
        cursor: pointer;
        @include media("<phone") {
          width: 50vw;
        }
      }
      .progress {
        height: 100%;
        background-color: #000000ad;
        width: 0;
        position: relative;
      }

      .play-button {
        aspect-ratio: 4/4;
        border: none;
        border-radius: 50%;
        font-size: 16px;
        background-color: #e6e6e683;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        aspect-ratio: 4/4;
        position: absolute;
        @include media("<phone") {
          width: 5vw;
        }
        &:hover {
          background: #ffffffa2;
        }
        img {
          width: 50%;
        }
      }
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.background {
  background: url("../imgs/myWorkBg.png") center/cover no-repeat;
}
.musicVedio {
  margin-top: 5rem;
  .swiper-slide-active {
    &::after {
      content: none !important;
    }
  }
  .swiper-slide {
    width: 40vw;
    aspect-ratio: 16/9;
    position: relative;
    @include media("<phone") {
      width: 50vw;
    }
    &::after {
      content: " ";
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-color: #0000005b;
    }
    iframe,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  &::after {
    color: white;
  }
}
.title {
  color: white;
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  @include media("<phone") {
    font-size: 2rem;
  }
}
.Partners {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: rgba(255, 255, 255, 0.3);
}
.partner-logo {
  width: 10vw;
  height: 10vw;
  object-fit: contain;
  @include media("<phone") {
    width: 20vw;
    height: 20vw;
  }
}
.projects {
  h2 {
    color: #282015;
    font-size: 3rem;
    @include media("<phone") {
      font-size: 2rem;
    }
    text-align: center;
    font-weight: bolder;
  }
  .projectsSwiper {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f6e8c9;
      font-size: 2rem;
      border-radius: 10px;
      font-weight: bold;
      height: 80vh;
      @include media("<tablet") {
        height: 50vh;
      }
    }
  }
}
.SERVICES {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  h2 {
    color: #282015;
    font-size: 3rem;
    @include media("<phone") {
      font-size: 2rem;
    }
    text-align: center;
    font-weight: bolder;
    margin-bottom: rem;
  }
  .swiper {
    width: 100%;
    height: 70vh;
  }
  .swiper-slide {
    border-radius: 10px;
    transition: all 1s ease-in-out;
    .front,
    .back {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      transition: all 1s ease-in-out;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    .back {
      opacity: 0;

      padding: 1rem;
      p {
        text-align: center;
      }
    }
    &:hover {
      transition: all 0.5s ease-in-out;
      .back {
        opacity: 1;
      }
      .front {
        opacity: 0;
      }
    }
    position: relative;
    .whiteShade {
      background: #ffffff5e;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
    }
    .title {
      color: #000000;
      font-size: 2rem;
      font-weight: bold;
    }
    .icon {
      width: 30%;
      height: 30%;
      object-fit: contain;
      margin-bottom: 1rem;
    }
    .bg {
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}
html,
body {
  position: relative;
  height: 100%;
}
.priceList {
  height: 60vh;
  background: url("../imgs/order\ price\ list.png") center/cover no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5vw 5vw;
  position: relative;
  margin-top: 5rem;
  @include media("<tablet") {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 30px;
  }
  a {
    background: $text_primary;
    color: white;
    transition: all 0.3s;
    &:hover {
      transition: all 0.3s;
      background: white;
      color: $text_primary;
    }
    border-radius: 50px;
    padding: 10px 100px;
    border: none;
    outline: none;
    font-weight: light;
    font-size: 2rem;
    @include media("<phone") {
      font-size: 1rem;
      padding: 10px 30px;
    }
  }
  .text {
    height: 100%;
    @include media("<tablet") {
      height: auto;
    }
    h3 {
      color: $text_primary;
      font-size: 5rem;
      @include media("<phone") {
        font-size: 2.5rem;
      }
      text-transform: uppercase;
      font-weight: bolder;
    }
    h5 {
      font-size: 3rem;
      @include media("<phone") {
        font-size: 2rem;
      }
      text-transform: uppercase;
      font-weight: light;
      color: $text_primary;
    }
  }
}

.contactUs {
  background: url("../imgs//image\ \(6\).jpg") center/cover no-repeat;
  position: relative;
  padding: 5vw;
  @include media("<phone") {
    padding-top: 10vh;
  }
  h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    @include media("<phone") {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .bg {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    background: rgba(255, 255, 255, 0.712);
  }
  iframe {
    position: relative;
  }
  .submitBtn {
    background: $text_primary;
    color: white;
    border-radius: 14px;
    margin-top: 1.3rem;
    width: 100%;
  }
  input,
  textarea {
    border-radius: 14px;
    margin-top: 1.2em;
    padding: 0.5rem 1rem;
  }
  textarea {
    padding: 1rem;
  }
  .map {
    height: 60vh;
    border-radius: 10px;
    width: 90vw !important;
  }
}

footer {
  background: white;
  padding: 5vw;

  .socialIcons {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    a {
      text-decoration: none;
      padding: 5px;
      background: rgb(129 113 90 / 26%);
      border-radius: 5px;
      img {
        width: 30px;
      }
      &:hover {
        filter: invert(1);
        background: #a1b9c2;
      }
    }
  }
  .logo {
    width: 10vw;
  }
  .links {
    a {
      color: $text_primary;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }
  .email {
    color: $text_primary;
    font-size: 1.3rem;
    font-weight: bold;
  }
}
.mySwiper {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media("<phone") {
      height: 100vh;
    }
  }
}
.links {
  @include media("<phone") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
